html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(188, 202, 202);
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(0, 0, 0);
    color: white;

}

.row {
    margin: 5px;
}

label {
    width: 100px;

    display: inline-block;
}

#spacing {
    margin-top: 15px;
}

table{
    -webkit-box-shadow: 12px 14px 6px 5px rgba(0,0,0,0.24);
    box-shadow: 12px 14px 6px 5px rgba(0,0,0,0.24);
    border: solid 5px rgb(0, 0, 0);
}

table thead th{
    background-color: black;
    color: white;
}

table tbody tr:hover td {
    background-color: #a3acc1;
}